<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<div class="container-fluid">
	<div class="card" style="margin-top: 1.5em;">
	
		<div class="card-header">
			<h6>VFX Employees</h6>
		</div>
	
		<div class="card-body">
			<form action="#" th:object="${employee}">
				<table class="table table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Profession</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="employee: ${employees}">
							<td th:text="${employee.id">id</td>
							<td th:text="${employee.name}">name</td>
							<td th:text="${employee.surname}">surname</td>
							<td th:text="${employee.profession}">profession</td>
							<td><button type="submit" formaction="/delete" formmethod="post" class="btn btn-danger" th:value="${employee.id}">D</button>
								<button type="submit" formaction="/add" formmethod="get" class="btn btn-primary">E</button></td>
						</tr>
					</tbody>
				</table>
				<button type="submit" formaction="/add" formmethod="get" class="btn btn-primary">Add Employee</button>
			</form>
		</div>
		
	</div>
</div>
	
</body>
</html>